$red-darkest: #1A0200;
$red-darker: #330400;
$red-dark: #630B03;
$red-primary: #911308;
$red-light: #AD2B1F;
$red-lightest: #E47267;

$grey-darkest: #1A1A1A;
$grey-darker: #404040;
$grey-dark: #595959;
$grey-primary: #808080;
$grey-light: #BFBFBF;
$grey-lightest: #E6E6E6;