@import "utilities/variables";

.CalcForm {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 650px;

  ul {
    list-style: none;
  }

  select {
    color: $grey-darkest;
  }

  label {
    padding-top: 0.5rem;
  }
  table {
    margin: 1rem 0rem;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  td {
    padding: 0.2rem;
  }
  th {
    padding: 0.2rem;
    background-color: $grey-light
  }
}
